#Content

01. Importing libraries
02. Importing data
03. Exercise 4.6
04. Exporting data

#01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#02. Importing data

In [2]:
# Import main folder
path = r'C:\Users\amwil\OneDrive\Career Foundry Project Work\05-2020 Instacart Basket Analysis'

In [3]:
# Import order_products__prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
# Import orders_cleaned.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [5]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check the output
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,0,2539329,1,1,2,8,7.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [7]:
# Dropping the Unnamed: 0 column from orders_cleaned.csv
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [8]:
# Check the output
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,7.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
df_ords.shape

(3421083, 6)

#03. Exercise 4.6

In [11]:
# Create merge flag
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
# View results
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [13]:
# Merge frequency count
df_merged_large[ '_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

#04. Exporting data

In [32]:
# Export data
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))