# Contents

01. Importing libraries
02. Importing data
03. Task 4.8
04. Exporting data

### 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 02. Importing data

In [2]:
# Import main folder
path = r'C:\Users\amwil\OneDrive\Career Foundry Project Work\05-2020 Instacart Basket Analysis'

In [3]:
# Import ords_prods_merged.pkl
df_ords_prods_merged = pd.read_pickle(os.path.join(path,'02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

### 03. Task 4.8

In [4]:
# Create a loyalty flag 
df_ords_prods_merged['median_days_since_prior_order'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [5]:
# Check the result
df_ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,prices,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_prior_order
0,2539329,1,1,2,8,7.0,196,1,0,both,...,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,both,...,9.0,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,both,...,9.0,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
5,3367565,1,6,2,7,19.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
6,550135,1,7,1,9,20.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.0
7,3108588,1,8,1,14,14.0,196,2,1,both,...,9.0,Mid range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.0
8,2295261,1,9,1,16,0.0,196,4,1,both,...,9.0,Mid range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.0
9,2550362,1,10,4,8,30.0,196,1,1,both,...,9.0,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
10,2968173,15,15,1,9,7.0,196,2,0,both,...,9.0,Mid range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,8.0
11,1870022,15,17,2,16,8.0,196,6,1,both,...,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,8.0
12,1911383,15,18,2,11,7.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,8.0
13,2715276,15,21,1,9,7.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,8.0
14,487368,15,22,1,10,14.0,196,1,1,both,...,9.0,Mid range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0

In [6]:
# Assign a value of Non frequent customer as order frequency flag
df_ords_prods_merged.loc[df_ords_prods_merged['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non frequent customer'

In [7]:
# Assign a value of Regular customer as an order frequency flag
df_ords_prods_merged.loc[(df_ords_prods_merged['median_days_since_prior_order'] > 10) & (df_ords_prods_merged['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [8]:
# Assign a value of Frequent customer as an order frequency flag
df_ords_prods_merged.loc[df_ords_prods_merged['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [9]:
# Print frequency of order frequency flag
df_ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        22790523
Regular customer          6927608
Non frequent customer     2686728
Name: order_frequency_flag, dtype: int64

In [10]:
# Check code
df_ords_prods_merged[['user_id', 'order_frequency_flag', 'days_since_prior_order']].head(15)

    user_id order_frequency_flag  days_since_prior_order
0         1     Regular customer                     7.0
1         1     Regular customer                    15.0
2         1     Regular customer                    21.0
3         1     Regular customer                    29.0
4         1     Regular customer                    28.0
5         1     Regular customer                    19.0
6         1     Regular customer                    20.0
7         1     Regular customer                    14.0
8         1     Regular customer                     0.0
9         1     Regular customer                    30.0
10       15    Frequent customer                     7.0
11       15    Frequent customer                     8.0
12       15    Frequent customer                     7.0
13       15    Frequent customer                     7.0
14       15    Frequent customer                    14.0

### 04. Exporting data

In [11]:
# Export data
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))