# Contents

01. Importing libraries
02. Importing data
03. Task 4.9 Part 1
04. Exporting data

### 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### 02. Importing data

In [2]:
# Import main folder
path = r'C:\Users\amwil\OneDrive\Career Foundry Project Work\05-2020 Instacart Basket Analysis'

In [3]:
# Import customers.csv
df_cust = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'customers.csv'), index_col = False)

In [4]:
# Import ords_prods_merged.pkl
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [5]:
# Check output
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
# Check customers.csv shape
df_cust.shape

(206209, 10)

In [7]:
# Check output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,7.0,196,1,0,both,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,both,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,both,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [8]:
# Check ords_prods_merged.pkl shape
df_ords_prods_merged.shape

(32404859, 24)

### 03. Task 4.9 Part 1

In [5]:
# Rename Surnam column
df_cust.rename(columns = {'Surnam' : 'Last Name'}, inplace = True)

In [6]:
# Rename STATE column
df_cust.rename(columns = {'STATE' : 'State'}, inplace = True)

In [7]:
# Rename Age column
df_cust.rename(columns = {'Age' : 'age'}, inplace = True)

In [8]:
# Rename n_dependents column
df_cust.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [9]:
# Rename fam_status column
df_cust.rename(columns = {'fam_status' : 'family_status'}, inplace = True)

In [10]:
# Rename income column
df_cust.rename(columns = {'income' : 'annual_income'}, inplace = True)

In [11]:
# Check customer.csv results
df_cust.head()

,user_id,First Name,Last Name,Gender,State,age,date_joined,number_of_dependants,family_status,annual_income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [16]:
# Drop First Name column
df_cust = df_cust.drop(columns = ['First Name'])

In [17]:
# Drop Last Name column
df_cust = df_cust.drop(columns = ['Last Name'])

In [18]:
# Drop Gender column
df_cust = df_cust.drop(columns = ['Gender'])

In [19]:
# Drop State column
df_cust = df_cust.drop(columns = ['State'])

In [20]:
# Drop date_joined column
df_cust = df_cust.drop(columns = ['date_joined'])

In [12]:
# Drop add_to_cart_order
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['add_to_cart_order', 'reordered', '_merge', 'aisle_id', 'price_range_loc', 'max_order', 'mean_order', 'median_days_since_prior_order'])

In [13]:
df_ords_prods_merged.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time', 'days_since_prior_order', 'product_id', 'product_name',
       'department_id', 'prices', 'busiest day', 'busiest days',
       'busiest_period_of_day', 'loyalty_flag', 'spending_flag',
       'order_frequency_flag'],
      dtype='object')

In [28]:
# Drop reordered
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['reordered'])

In [29]:
# Drop _merge
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['_merge'])

In [30]:
# Check output
df_cust.head()

   user_id  age  number_of_dependants family_status  annual_income
0    26711   48                     3       married         165665
1    33890   36                     0        single          59285
2    65803   35                     2       married          99568
3   125935   40                     0        single          42049
4   130797   26                     1       married          40374

In [31]:
# Check customers.csv shape again
df_cust.shape

(206209, 5)

In [32]:
# Check output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,product_name,aisle_id,department_id,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,7.0,196,Soda,77,7,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,Soda,77,7,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,Soda,77,7,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,Soda,77,7,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,Soda,77,7,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [33]:
# Check ords_prods_merged.pkl shape again
df_ords_prods_merged.shape

(32404859, 21)

In [14]:
# Check for missing values
df_cust.isnull().sum()

user_id                     0
First Name              11259
Last Name                   0
Gender                      0
State                       0
age                         0
date_joined                 0
number_of_dependants        0
family_status               0
annual_income               0
dtype: int64

#### Task 4.9: Q5. The only column which contained missing values was the names column. Since the user_id uniquely identifies each customer, I dropped the first and last name columns.

In [15]:
# Check for duplicates
df_dups = df_cust[df_cust.duplicated()]

In [16]:
# View duplicates
df_dups

Empty DataFrame
Columns: [user_id, First Name, Last Name, Gender, State, age, date_joined, number_of_dependants, family_status, annual_income]
Index: []

#### Task 4.9: Q5. There were no duplicates found in the data.

In [17]:
# Check for mixed types in customers.csv
for col in df_cust.columns.tolist():
    weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_cust[weird]) > 0:
        print (col)

First Name

#### Task 4.9: Q5. No mixed-typed data found.

In [18]:
# Merge customers.csv with ords_prods_merged.pkl
df_cust_ords_prods_merged = df_cust.merge(df_ords_prods_merged, on = 'user_id')

In [19]:
# Check dataframe's columns
df_cust_ords_prods_merged.columns

Index(['user_id', 'First Name', 'Last Name', 'Gender', 'State', 'age',
       'date_joined', 'number_of_dependants', 'family_status', 'annual_income',
       'order_id', 'order_number', 'orders_day_of_week', 'order_time',
       'days_since_prior_order', 'product_id', 'product_name', 'department_id',
       'prices', 'busiest day', 'busiest days', 'busiest_period_of_day',
       'loyalty_flag', 'spending_flag', 'order_frequency_flag'],
      dtype='object')

In [21]:
# Check results
df_cust_ords_prods_merged.head()

,user_id,First Name,Last Name,Gender,State,age,date_joined,number_of_dependants,family_status,annual_income,...,product_id,product_name,department_id,prices,busiest day,busiest days,busiest_period_of_day,loyalty_flag,spending_flag,order_frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,196,Soda,7,9.0,Regularly busy,Busiest days,Average orders,New customer,Low spender,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,196,Soda,7,9.0,Regularly busy,Regularly busy,Average orders,New customer,Low spender,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,196,Soda,7,9.0,Regularly busy,Busiest days,Average orders,New customer,Low spender,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,38928,0% Greek Strained Yogurt,16,12.6,Regularly busy,Regularly busy,Average orders,New customer,Low spender,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,38928,0% Greek Strained Yogurt,16,12.6,Regularly busy,Slowest days,Average orders,New customer,Low spender,Regular customer

In [37]:
# Merge frequency count
df_cust_ords_prods_merged[ '_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

### 04. Exporting data

In [22]:
# Export data
df_cust_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'cust_ords_prods_merged.pkl'))

MemoryError: