#Contents

01. Importing libraries
02. Import data
03. Data Quality Checks
04. Exporting data

#01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#02. Importing data

In [2]:
# Import main folder
path = r'C:\Users\amwil\OneDrive\Career Foundry Project Work\05-2020 Instacart Basket Analysis'

In [3]:
# Import customers.csv
df_cust = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'customers.csv'), index_col = False)

In [4]:
# Import ords_prods_merged.pkl
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_1.pkl'))

#03. Data Quality Checks

In [5]:
# Rename Surnam column
df_cust.rename(columns = {'Surnam' : 'Last Name'}, inplace = True)

In [6]:
# Rename STATE column
df_cust.rename(columns = {'STATE' : 'State'}, inplace = True)

In [7]:
# Rename Age column
df_cust.rename(columns = {'Age' : 'age'}, inplace = True)

In [8]:
# Rename n_dependents column
df_cust.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [9]:
# Rename fam_status column
df_cust.rename(columns = {'fam_status' : 'family_status'}, inplace = True)

In [10]:
# Rename income column
df_cust.rename(columns = {'income' : 'annual_income'}, inplace = True)

In [11]:
# Drop columns not needed for analysis
df_cust = df_cust.drop(columns = ['First Name', 'Last Name', 'date_joined', 'Gender'])

In [12]:
# Check beginning of dataframe
df_cust.head()

   user_id       State  age  number_of_dependants family_status  annual_income
0    26711    Missouri   48                     3       married         165665
1    33890  New Mexico   36                     0        single          59285
2    65803       Idaho   35                     2       married          99568
3   125935        Iowa   40                     0        single          42049
4   130797    Maryland   26                     1       married          40374

In [14]:
# Merge customers.csv with ords_prods_merged.pkl
df = df_cust.merge(df_ords_prods_merged, on = 'user_id')

In [15]:
# Check beginning of dataframe
df.head()

,user_id,First Name,Last Name,State,age,number_of_dependants,family_status,annual_income,order_number,orders_day_of_week,...,product_id,product_name,department_id,prices,busiest day,busiest_period_of_day,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,26711,Deborah,Esquivel,Missouri,48,3,married,165665,5,1,...,196,Soda,7,9.0,Regularly busy,Average orders,8,New customer,Low spender,Regular customer
1,26711,Deborah,Esquivel,Missouri,48,3,married,165665,7,5,...,196,Soda,7,9.0,Regularly busy,Average orders,8,New customer,Low spender,Regular customer
2,26711,Deborah,Esquivel,Missouri,48,3,married,165665,8,1,...,196,Soda,7,9.0,Regularly busy,Average orders,8,New customer,Low spender,Regular customer
3,26711,Deborah,Esquivel,Missouri,48,3,married,165665,2,2,...,38928,0% Greek Strained Yogurt,16,12.6,Regularly busy,Average orders,8,New customer,Low spender,Regular customer
4,26711,Deborah,Esquivel,Missouri,48,3,married,165665,3,3,...,38928,0% Greek Strained Yogurt,16,12.6,Regularly busy,Average orders,8,New customer,Low spender,Regular customer

#04. Exporting data

In [13]:
# Export customer.csv
df_cust.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customer.csv'))

In [15]:
# Export cust_ords_prods_merged.pkl
df.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'cust_ords_prods_merged.pkl'))