#Contents

01. Importing libraries
02. Importing data
03. Data Quality Check
04. Exporting data

#01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#02. Importing data

In [2]:
# Import main folder
path = r'C:\Users\amwil\OneDrive\Career Foundry Project Work\05-2020 Instacart Basket Analysis'

In [3]:
# Import ords_prods_merged.pkl
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

#03. Data Quality Check

In [4]:
# Check beginning of dataframe
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,7.0,196,1,0,both,...,Mid range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,both,...,Mid range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,both,...,Mid range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [5]:
# Drop add_to_cart_order
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ['order_id', 'add_to_cart_order', 'reordered', '_merge', 'aisle_id', 'price_range_loc', 'busiest days'])

In [5]:
# Check beginning of dataframe
df_ords_prods_merged.head()

,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,product_name,department_id,prices,busiest day,busiest_period_of_day,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,1,1,2,8,7.0,196,Soda,7,9.0,Regularly busy,Average orders,10,New customer,Low spender,Regular customer
1,1,2,3,7,15.0,196,Soda,7,9.0,Regularly busy,Average orders,10,New customer,Low spender,Regular customer
2,1,3,3,12,21.0,196,Soda,7,9.0,Regularly busy,Average orders,10,New customer,Low spender,Regular customer
3,1,4,4,7,29.0,196,Soda,7,9.0,Least busy,Average orders,10,New customer,Low spender,Regular customer
4,1,5,4,15,28.0,196,Soda,7,9.0,Least busy,Average orders,10,New customer,Low spender,Regular customer

#04. Exporting data

In [6]:
# Export ords_prods_merged_1.pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_1.pkl'))